a {
    color: red;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 7px;
}
.child p{
    color: red;
}